
      
.container-card {
    width: 450px;
    margin: auto;
}


.container-image {
    border-radius: 1rem;
    width: 100vw;
    object-fit: cover;
    width: 100%;
    height: 250px;
}

@media screen and (max-width: 767px) {
    .container-card {
        width: calc(100% - 80px);
        padding: 20px;
    }
    .container-image {
        height: 250px;
    }
    
}


.container-info {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
  
}
    
.container-description {
    padding-bottom: 3rem;
    font-weight: 500;
}  

@media screen and (max-width: 767px) {
    .container-description {
        padding-bottom: 0;
    }  
    .container-place {
        font-size:0.75rem ;
    }
    .container-ratings {
        font-size:0.75rem ;

    }
  
}



@media screen and (width: 320px) {
    .container-card {
        width: calc(100% - 125px);
    }
}

.container-ratings {
    display: flex;
    align-items: center;
}

.container-place {
    display: flex;
    align-items: center;

}


.host {
    display: flex;
    border:solid .016rem black;
    height: 1.5rem;
    width: 6rem;
    border-radius:1rem;
    font-weight: 500;
    font-size: 0.80rem;
    text-transform: uppercase;

   
   align-items: center;
   justify-content: center;
}
@media screen and (max-width: 767px) {
.host {
    font-size:0.60rem ;
    width: 5rem;
}
}

.star {
    fill: #f18686;

}


