.dropdownButton {
    position: relative;
   height: 100%;
   flex: 1;

} 

.dropdownBtnContainer {
    height: 100%;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
    border: 0.1px solid rgb(236, 234, 234);;

}

.labelBox {
    position: absolute;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
    top:3px;
    left:15px;
} 

.downshiftBox {
  border: 0;
  height: 100%;
  border-radius: 0.6rem;
  transition: all .4s ease-in-out;
  border: 1px solid transparent;
  padding-left: 13px;
  padding-top: 12px ;
  font-size: 0.8rem;
}


.downshiftBox:hover {
  border-color: black;
  border-radius: 0.6rem;

 
}

#downshift-1-menu {
	background: white;
}

.placesList{
  padding-top: 3px ;
  font-size: 0.8rem;
}
