.form {
    display: flex;
    height: 40px;
    border-radius: 0.6rem;
    border-style: groove;
}


@media screen and (max-width: 640px) {
    .form {
        margin: auto;
    }
    .formButton {
        max-width: 112px;
    };
}

