.propertiesListTitle {
    font-weight: 600;
    margin: 2rem;
    font-size: 22px;
    line-height: 26px;
    color: #222;
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    max-width: 1440px; 
    margin: 0 auto;
}

      